@use 'variable' as *
.carousel-inner
    width: 100%
    height: auto
    margin: 0
    padding: 0

    @media (max-width: 768px)
        width: 300px
        height: auto
        margin: 0 auto
        max-width: 800px; /* o el ancho que necesites */
        z-index: 99
